/*
Link to Unsolved Repo: https://github.com/HackerUSA-CE/CSS-CSS-Animations.git 
*/

/****************************************
* Transform
****************************************/
.transform-demo > div {
  height: 40px;
  background: salmon;
  width: 20%;
  margin: auto;
  display: inline-block;
  transform: translate(150px); /* Let's use translate on our .transform-demo > div box to move it 150px to the right on the x-axis. */
  opacity: 0.5; /* Let's also add some opacity so that we can confirm the hide me text is still behind our box when it moves. */
}

/****************************************
* Transition
****************************************/

.transition-demo img {
  margin-bottom: .5em;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  transition: 2s; /* The image is gray now when u hover u give it some time to go from different states. In This case it will take 2 seconds to do so. */

}

.transition-demo img:hover {
  filter: none; /* For our demo, we have two images that are grayscale. We want to make it so that when we hover over the images, they will regain their color. Technically, we can make that happen without using any transitions. Let's do that first by adding a filter property with value none on the hover state of our .transition-demo box. */
  transform: scale(1.25) rotate(360deg); /* adding to the ending hover state, increasing the size (scale) and making the image rotate. */
}

/****************************************
* Animation
****************************************/

.bar {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  background-color: palegreen;
  animation-name: sale-bar; /* To connect the sale-bar keyframe we created, we have to use the animation-name property on the element we want to use it on. We want to use it on our bar, so set it on the .bar class */
  animation-duration: 2s; /* setting the animation on the bar to 2 seconds, you will see it when u refresh */
  animation-fill-mode: forwards; /* with the above duration once its done it snaps back to it original green state, with this to make it keep the final state style we have to set the valu to forwards */
  animation-delay: 5s; /* without this the animation happens too fast, creating a false sense of urgency so we a delay to the bar */
  animation-iteration-count: 10; /* this is the bonus, just making the bar do it's thing 10 times. */
}
/* @keyframes: tells CSS we want to define a keyframe
   sale-bar: what we named the keyframe, this can be whatever name you want. In our case we chose to name it sale-bar
*/
@keyframes sale-bar {
  0% { background-color: lightgreen; width: 450px}
  25% { background-color: gold; width: 375px }  /* added 25% and 50% to make the bar transition smoother, you can make as many as you need just look at the pixels and the color to make it smooth */
  50% { background-color: salmon; width: 250px }
  75% { background-color: #FF033E; width: 125x; border-radius: 0; transform: scale(1) } /* towards the end add extra animation to make it circular and shrink off the page when its done */
  100% { background-color: crimson; width: 10px; border-radius: 100%; transform: scale(0) }
}
